
<div class="col-xs-12 col-md-3 overflow-auto" id="div_frends_list">
  <%= image_tag(user.avatar.url, width: "200", height: "200", class:"profileimg")%>
  <%= user.first_name ||= user.username %>
  <h3><%= "#{user.first_name} #{user.last_name}"%></h3>
  <h5 class="center"><span class="glyphicon glyphicon-envelope"></span> <%= "#{user.email}"%></h5>
  <h5 class="center"><span class="glyphicon glyphicon-candle"></span> <%= "#{user.dob}"%></h5>
</div>
</div>
