<div class="row">
  <aside class="col-md-12">
    <div  id = "input_form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h3> SignUp </h3>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
      </br>
      <%=f.check_box :terms_and_conditions %> I agree to the <span style="color:#52c0f7;"> Terms and conditions</span>
      </br>
      </br>
      <%= f.submit "Sign up", class: "btn btn-primary" %>   <%= render "devise/shared/links" %>
    <% end %>
      </br>
      <%# render "devise/shared/links" %>
    </div>
  </aside>
</div>
