<% if user_signed_in? %>
  <div class ="row">
    <% if @friends.any?  %>
        <% @friends.each do |user| %>
           <div class="row">
              <div class="col-xs-12 col-md-3 overflow-auto" id="div_frends_list">
              <hr class="hrline">
               <%= image_tag(user.avatar.url, width: "60",height: "60", class:"profileimg") %>
               <% user.first_name ||= user.username  %>
               <%= link_to "#{user.first_name} #{user.last_name}", "#" , style:"margin-left:10px;font-size:18px;color:black" %>
               <%# link_to "#{user.first_name} #{user.last_name}", "users_pages_friend_details_path(user_id: user.id)", style:"margin-left:10px;font-size:18px;color:black" %>
              </div>
              <div class="col-xs-12 col-md-6 overflow-auto" id="div_frends_list">
              </div>
              <div class="col-xs-12 col-md-3 overflow-auto" id="div_frends_list">
                <%= image_tag(user.avatar.url, width: "200", height: "200", class:"profileimg")%>
                <% user.first_name ||= user.username %>
                <h3><%= "#{user.first_name} #{user.last_name}"%></h3>
                <h5 class="center"><span class="glyphicon glyphicon-envelope"></span> <%= "#{user.email}"%></h5>
                <h5 class="center"><span class="glyphicon glyphicon-candle"></span> <%= "#{user.dob}"%></h5>
              </div>
           </div>
        <% end %>
        <% else %>
          <div class = "col-md-12 center">
            <% current_user.first_name ||= current_user.username  %>
            <h2>You don't have any friend</h4>
            <h3>Welcome <%= "#{current_user.first_name} #{current_user.last_name}"  %> </h3>
            <h4>Find your friend</h4>
            <%= image_tag(current_user.avatar.url, width: "200", height: "200")%>
          </div>
         <% end %>

    </div>
  </br>
  <% else %>
      <h2>E-chat is a platform of connect to your friends and family.</h2>
      <p>
      <br>
      <br>
        <%= link_to "Create Account", new_user_registration_path, class: "btn  btn-primary", id: "btnsignup" %>
      </p>
<% end %>
