<div class="row">
  <aside class="col-md-12">
    <div  id = "input_form">
      <h3>Log in</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <br />
        <%= f.text_field :login, autofocus: true, autocomplete: "email", class: 'form-control', placeholder:"Username or email"  %>
        <br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder:"Password" %>
        <% if devise_mapping.rememberable? %>
          <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me, style:"margin-left:10px" %>
          <span style="margin-left:25px">Remember me on this computer</span>
          <% end %>
        <% end %>
        <%= f.submit "Log in", class: "btn btn-primary" %>   <%= render "devise/shared/links" %>
      <% end %>
    </br>      
    </div>
  </aside>
</div>
